<!--
  Generated template for the JugarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>jugar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
           
        <ion-item>
          <ion-label >Pregunta: </ion-label>
          <ion-input type="text" [(ngModel)]="model.Nombre" name="pregunta">  </ion-input>
        </ion-item>
       
        
                 <ion-item *ngFor="let item of model.RespuestaDisponibles" [ngStyle]="{'background-color': Red  }" >
                    <ion-row>
                        <ion-col width-100 style="text-align: center" style="background-color:black"  >
                  <button ion-item class="itemClase" (click)="esCorrecta(item);"   [ngStyle]="{'background-color': RespuestaCorrecta === item.Id ? 'green' : item.Id === model.RespSeleccionada ? 'Red' : 'blue' }"  >
                    {{item.Nombre}} 
                  </button>
                  </ion-col>
                  </ion-row>
                </ion-item>
                <!-- <ion-list>
                    <ion-row>
                     <ion-col width-100 style="text-align: center">
                         <button ion-item *ngFor="let item of model.RespuestaDisponibles"  class="itemClase" (click)="esCorrecta(item);" style="background-color: cyan "   >
                           {{item.Nombre}} 
                         </button>
                     </ion-col>
                    </ion-row>
               
               </ion-list> -->
   
      </ion-list>
</ion-content>
